# ログ
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# エディタディレクトリとファイル
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
.firebaserc
firebase-debug.log
firestore-debug.log

# 環境変数
.env
.env.local
.env.*.local
